html, body {
    font-size: $fontSize;
}
body { 
    font-family: $fontFamily, sans-serif;
    h1 {
        font-size: 2rem;
    }
}
header {
    h1 {
        font-family: $fontFamilyLogo;
    }
}